@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MovieForum.Models.Discussion

@{
    // code block
    ViewData["Title"] = "Discussion Details";
}
<body class="DiscussionDetails">
    <div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6 shadow p-3 m-1 bg-white rounded">
            <img src="/photos/@Model.ImageFilename" alt="@Model.Content" class="img-fluid" />
        </div>


        <div class="col-md-4 shadow m-1 bg-white rounded">
            <table class="table">
                <tr>
                    <td>
                            <h1 style="color: #3AAFA9"><i class="fa-solid fa-l fa-camera" style="color: #3AAFA9;"></i> @Html.DisplayFor(model => model.Title)</h1>
                    </td>
                </tr>
                <tr>
                        <td>
                            <i class="fa-solid fa-l fa-calendar-day" style="color: #3AAFA9;"></i> @Html.DisplayFor(model => model.CreateDate)
                        </td>
                </tr>
                <tr>
                    <td>
                            <a href="@Url.Action("Profile", "Home", new { id = Model.ApplicationUserId })">
                                <img src="@Url.Content("~/profile_img/" + Model.ApplicationUser.ImageFilename)" class="post-thumb" /></a>
                                Posted by: 
                     <a href="@Url.Action("Profile", "Home", new { id = Model.ApplicationUserId })">@Html.DisplayFor(model => model.ApplicationUser.Name)</a>
                    </td>
                </tr>
                <tr>
                        <td>
                            <i class="fa-solid fa-l fa-circle-info" style="color: #3AAFA9;"></i> @Html.DisplayFor(model => model.Content)
                        </td>
                </tr>
            </table>
        </div>
    </div>
        <div class="row justify-content-center" style="margin-right: -18px; margin-left: -18px;">
            <div class="col-md-10 shadow m-1 pt-3 pb-4 ps-4 pe-4 bg-white rounded">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="fs-1 fw-bold m-0" style="color:#3AAFA9">Comments</p>
                </div>
                    <div class="col-3 text-end">
                        <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="btn btn-primary">Add Comment</a>
                        </div>
                </div>
                <div class="col">
                    @if (Model.Comments != null)
                    {
                        foreach (var comment in Model.Comments)
                        {
                            <div class="row border mt-2 g-0" style="border-color: #2B7A78 !important;">
                                <div class="col-9 ps-1">
                                    <span>@comment.Content</span>
                                </div>

                                <div class="col-3 pe-0 g-0 d-flex justify-content-end pe-1">
                                    <span>
                                        Comment by: <a href="@Url.Action("Profile", "Home", new { id = Model.ApplicationUserId })">@Html.DisplayFor(model => model.ApplicationUser.Name)</a>
                                        <br/>
                                        @comment.CreateDate
                                        </span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>

